{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'user_booked_venues.css' %}">
    <title>Document</title>
</head>
<body>
    <nav class="navbar">
      <span class="navbar-brand">BookMyVenue - Welcome, {{ full_name }}!</span>
      <div class="navbar-links">
        <button class="btn" onclick="showhomepage()" >Home</button>
        <button class="btn" onclick="logoutop()">Logout</button>
      </div>
    </nav>
<table class="booking-table">
<tr>
<th>Venue</th>
<th>City</th>
<th>Date</th>
<th>Requirements</th>
<th>Action</th>
</tr>

{% for booking in bookings %}

<tr>

<td>{{ booking.venue.name }}</td>

<td>{{ booking.venue.city }}</td>

<td>{{ booking.date }}</td>

<td>{{ booking.special_requirements }}</td>

<td>
<button class="btn btn-danger"onclick="cancelBooking({{ booking.id }})">Cancel</button>
<button class="btn"onclick="openFeedback({{ booking.venue.id }})">Feedback</button>
</td>
</tr>

{% endfor %}

</table>
<div id="feedbackBox" style="display:none;margin-top:20px">

<h3>Write Feedback</h3>

<textarea id="feedbackText"
rows="3"
style="width:100%"></textarea>

<button class="btn" onclick="submitFeedback()">
Submit
</button>

</div>
<script>
    function logoutop(){
        window.location.href = "{% url 'logout' %}"
    }
    function showhomepage() {
        window.location.href = "{% url 'dashboard' %}";
    }
    function cancelBooking(bookingId) {

if (!confirm("Are you sure you want to cancel this booking?")) {
return;
}

fetch("/api/cancel-booking/" + bookingId + "/", {

method: "POST",

headers: {
"X-CSRFToken": "{{ csrf_token }}",
"Content-Type": "application/json"
}

})
.then(response => response.json())

.then(data => {

if (data.status === "success") {

alert("Booking cancelled successfully!");

location.reload();

} else {

alert("Error: " + data.message);

}

})
.catch(err => {
console.error(err);
alert("Something went wrong.");
});

}
let currentVenueId = null;

function openFeedback(venueId){

currentVenueId = venueId;

document.getElementById("feedbackBox").style.display="block";

}
function submitFeedback(){

const msg = document.getElementById("feedbackText").value;

fetch("/api/add-feedback/",{

method:"POST",

headers:{
"Content-Type":"application/json",
"X-CSRFToken":"{{ csrf_token }}"
},

body:JSON.stringify({
venue_id:currentVenueId,
message:msg
})

})
.then(res=>res.json())
.then(data=>{

if(data.status==="success"){

alert("Feedback submitted");

document.getElementById("feedbackText").value="";

}

});

}
</script>
</body>
</html>
