# Python compiled files
__pycache__/
*.pyc

# Virtual Environment
venv/
env/

# Django Database & Logs
*.log
#db.sqlite3


# Uploaded Media
/media/
/staticfiles/

# Environment variables
.env

# OS / IDE
# Local settings override
local_settings.py

# IDE settings
.vscode/
.idea/
.DS_Store

# Test coverage reports
.coverage
htmlcov/

# OS files
Thumbs.db
