/* Reset */
*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{
font-family:Arial, sans-serif;
background:#d9e1e6;
padding:30px;
}

/* Navbar */

.navbar{
background:#12343b;
padding:14px 25px;
display:flex;
justify-content:space-between;
align-items:center;
margin-bottom:25px;
}

.navbar-brand{
color:white;
font-size:18px;
font-weight:bold;
}

.navbar-links{
display:flex;
gap:15px;
font-size: medium;
}

.navbar-links a{
color:white;
text-decoration:none;
}

/* Table */

.booking-table{
width:100%;
background:white;
border-collapse:collapse;
}

.booking-table th{
background:#12343b;
color:white;
padding:12px;
text-align:left;
}

.booking-table td{
padding:12px;
border-bottom:1px solid #ddd;
}

/* Buttons */

.btn{
padding:7px 16px;
border:none;
border-radius:20px;
background:#12343b;
color:white;
font-size:13px;
cursor:pointer;
}

/* Cancel button */

.btn-danger{
background:#c0392b;
}
